@charset "UTF-8";
.navbar {
  background-color: #010a41;
}
.navbar .navbar-brand {
  font-size: 30px;
  font-family: "Yusei Magic", sans-serif;
}
.navbar .navbar-brand span {
  color: #b2b3b4;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .collapse .nav-link {
  color: #bcd0ee;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}
.navbar .collapse .nav-link:hover {
  background-color: #7979f7;
  color: #010a41;
  font-weight: bold;
  border-radius: 5px;
}

.inicio {
  background-image: url(../Assets/orca.gif);
}
.inicio .inicio-background h1 {
  font-size: 60px;
  z-index: 100;
  color: white;
  font-family: "Yusei Magic", sans-serif;
}
.inicio .inicio-background button {
  width: 200px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  z-index: 100;
}
.inicio .inicio-background button:hover {
  cursor: pointer;
}
.inicio .inicio-background a {
  z-index: 100;
}
.inicio .inicio-background a img {
  width: 50px;
  z-index: 100;
}
.inicio .inicio-background a img:hover {
  cursor: pointer;
}

.carousel .carousel-item h5 {
  color: #010a41;
  font-size: 50px;
  font-family: "Yusei Magic", sans-serif;
}
.carousel .carousel-item p {
  color: #385399;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.carousel .carousel-item .carousel-caption {
  top: 80%;
}
.carousel .carousel-item .carousel-caption-one {
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: left;
}
.carousel .carousel-item .carousel-caption-four {
  position: absolute;
  top: 30%;
  right: 10%;
  text-align: right;
}
.carousel .carousel-item .carousel-caption-two {
  position: absolute;
  top: 30%;
  right: 10%;
  text-align: right;
}
.carousel .carousel-item .carousel-caption-two a img {
  width: 25px;
}
.carousel .carousel-item .carousel-caption-two h5 {
  color: #c7d6fc;
  font-size: 50px;
  font-family: "Yusei Magic", sans-serif;
}
.carousel .carousel-item .carousel-caption-two p {
  color: #f2f4fa;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.carousel .carousel-item .carousel-caption-three {
  position: absolute;
  top: 30%;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.carousel .carousel-item .carousel-caption-three .input .form-control {
  width: 2000px;
  height: 40px;
}
.carousel .carousel-item .carousel-caption-three .input a img {
  width: 30px;
}
.carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover {
  background-color: transparent;
}

.main-index {
  background-image: url(../Assets/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 100px;
  background-attachment: fixed;
}

.cards {
  margin-top: -110px;
}
.cards .search-icon {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 10px #b2b3b4;
  z-index: 10;
}
.cards .search-icon img {
  transform: translate(10px, 20px);
}
.cards .search-icon p {
  color: #010a41;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.cards .search-icon:hover {
  animation: zoom 2s;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.box1 {
  background-image: url(../Assets/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 15px;
  width: 100%;
  height: 200px;
}
.box1 h3 {
  font-size: 25px;
  color: #010a41;
  font-family: "Yusei Magic", sans-serif;
}

.information {
  padding: 10px;
}
.information h2 {
  color: #010a41;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-size: 25px;
  font-weight: bold;
}
.information i {
  color: #010a41;
  font-size: 25px;
}

.steps-cont {
  background-color: rgba(1, 1, 78, 0.4);
  border-radius: 10px;
}
.steps-cont .steps-text {
  margin: 30px 60px;
  padding: 15px 30px;
  margin-bottom: 15px;
}
.steps-cont h2, .steps-cont h3 {
  font-size: 25px;
  color: #f5f7fa;
  font-family: "Yusei Magic", sans-serif;
}
.steps-cont p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #010a41;
  text-align: left;
}
.steps-cont ol {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  list-style-image: url(Assets/bomb-solid.svg);
  line-height: 1.6;
  list-style-position: inside;
  color: #010a41;
}

.iconos img {
  width: 70px;
  margin: 30px;
}

.final .final-title {
  font-size: 25px;
  color: #010a41;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  z-index: 10;
}
.final .final-imagenes {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 5px;
}
.final .consulta {
  width: 250px;
  position: relative;
}
.final .consulta img {
  width: 250px;
  height: 300px;
  transition: all 500ms ease-out;
}
.final .consulta .capa {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 3, 99, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
.final .consulta:hover > .capa {
  opacity: 2;
  visibility: visible;
  cursor: pointer;
}
.final .consulta:hover > .capa h3 {
  color: #f2f4fa;
  font-weight: bold;
  font-family: "Yusei Magic", sans-serif;
  margin-top: 30px;
}

.services {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-color: #010a41;
}
.services video {
  width: 100%;
  height: auto;
}
.services .online {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}
.services .online .online-bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.online .online-bg .preguntar, .online .online-bg .chatear, .online .online-bg .relacionado {
  padding: 0px;
  position: relative;
}
.online .online-bg .preguntar img, .online .online-bg .chatear img, .online .online-bg .relacionado img {
  padding: 15px;
  width: 150px;
  height: 150px;
  clip-path: circle(40% at 50% 50%);
}
.online .online-bg .preguntar .capa, .online .online-bg .chatear .capa, .online .online-bg .relacionado .capa {
  position: absolute;
  top: 0px;
  background-color: #010a41;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  height: 150px;
  clip-path: circle(40% at 50% 50%);
}
.online .online-bg .preguntar:hover > .capa, .online .online-bg .chatear:hover > .capa, .online .online-bg .relacionado:hover > .capa {
  opacity: 2;
  visibility: visible;
  cursor: pointer;
}
.online .online-bg .preguntar:hover > .capa span, .online .online-bg .chatear:hover > .capa span, .online .online-bg .relacionado:hover > .capa span {
  color: #f2f4fa;
  font-family: "Yusei Magic", sans-serif;
  margin-top: 30px;
  font-size: 15px;
}
.online .online-bg .input-search input {
  width: 600px;
  height: 40px;
}
.online .online-bg .input-search .btn-outline-success {
  color: #010a41;
  border-color: #010a41;
}
.online .online-bg .input-search .btn-outline-success:hover {
  background-color: #7979f7;
  color: #010a41;
  font-weight: bold;
  border-radius: 5px;
}

.buy .buy-acces .images .access-one img, .buy .buy-acces .images .access-two img {
  width: 300px;
}
.buy .buy-acces .images .access-three img {
  width: 300px;
  height: 400px;
}
.buy .buy-acces .images .access-four img {
  width: 300px;
  height: 446px;
}
.buy .buy-acces .images .boton-buy {
  width: 200px;
}
.buy .buy-acces .images .acces img {
  transform: translate(10px, 20px);
}
.buy .buy-acces .images .acces:hover {
  animation: zoom 2s;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.history {
  background-image: url(../Assets/fondo-azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.history .historia .vector {
  height: 350px;
}
.history .historia .vector img {
  width: 500px;
}
.history .historia .buton-history button {
  width: 200px;
  background-color: transparent;
  border: 1px solid #010a41;
  border-radius: none;
  color: #010a41;
}
.history .historia .buton-history button:hover {
  background-color: #010a41;
  border: 2px solid #010a41;
  color: white;
}

.adopción .adopta .card {
  background-color: transparent;
  padding: 5px;
  border: 1px solid white;
}
.adopción .adopta button {
  width: 150px;
}

.delivery {
  background-image: url(../Assets/domicilio.png);
  height: 600px;
}
.delivery .domi .domi-one {
  width: 50%;
  height: 430px;
}
.delivery .domi .domi-one img {
  width: 100px;
}
.delivery .domi .domi-one button {
  width: 450px;
  background-color: #010a41;
  border: 2px solid #010a41;
  color: white;
}
.delivery .domi .domi-one button:hover {
  background-color: #c9d2d1;
  color: #010a41;
  font-weight: bold;
}

.donation .donar .animalove img, .donation .donar .tepa img, .donation .donar .huella img, .donation .donar .damevida img, .donation .donar .ceroindiferencia img {
  width: 150px;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
}
.donation .donar .buton-donar button {
  width: 400px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.donation .donar .buton-donar button:hover {
  background-color: white;
  color: #010a41;
}

.hero {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-color: #010a41;
}
.hero video {
  width: 100%;
  height: auto;
}
.hero .absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}
.hero .absolute h1 {
  font-size: 60px;
  z-index: 100;
  color: white;
  font-family: "Yusei Magic", sans-serif;
}
.hero .absolute button {
  width: 200px;
  border: 1px solid #010a41;
  background-color: transparent;
  color: #010a41;
  font-weight: bold;
  z-index: 100;
}
.hero .absolute button:hover {
  cursor: pointer;
}
.hero .absolute a {
  z-index: 100;
}
.hero .absolute a img {
  width: 50px;
  z-index: 100;
  margin: 0px;
}
.hero .absolute a img:hover {
  cursor: pointer;
}

.fotos .animal-uno img {
  width: 250px;
  height: 300px;
  clip-path: polygon(49% 0, 100% 24%, 100% 76%, 50% 100%, 0 75%, 0 23%);
}
.fotos .animal-uno img:hover {
  cursor: pointer;
}
.fotos .animal-uno .dos {
  margin-right: 20px;
  margin-left: 20px;
}
.fotos .animal-dos img {
  width: 250px;
  height: 300px;
  clip-path: polygon(49% 0, 100% 24%, 100% 76%, 50% 100%, 0 75%, 0 23%);
  margin-top: -48px;
}
.fotos .animal-dos img:hover {
  cursor: pointer;
}
.fotos .animal-dos .cuatro {
  margin-right: 10px;
}
.fotos .animal-dos .cinco {
  margin-left: 10px;
}
.fotos .input-search input {
  width: 600px;
  height: 40px;
}
.fotos .input-search .btn-outline-success {
  color: white;
  border-color: white;
}
.fotos .input-search .btn-outline-success:hover {
  background-color: #7979f7;
  color: #010a41;
  font-weight: bold;
  border-radius: 5px;
}
.fotos .buton-adoption button {
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.fotos .buton-adoption button:hover {
  background-color: #7979f7;
  border: 2px solid #010a41;
  color: #010a41;
}

.funtion .pasos img {
  width: 200px;
}

.sectiondos .background .uno {
  background-image: url(../Assets/jirafa.jpg);
}
.sectiondos .background .dos {
  background-image: url(../Assets/zorro.jpg);
}
.sectiondos .background .tres {
  background-image: url(../Assets/perro.jpg);
}

hr {
  color: antiquewhite;
}

.fundas .input-search input {
  width: 550px;
}
.fundas .fundaciones img {
  clip-path: circle(50% at 50% 50%);
  width: 150px;
  height: 150px;
  filter: grayscale(80%);
}
.fundas .fundaciones img:hover {
  filter: saturate(1);
  cursor: pointer;
}
footer {
  background-color: #010a41;
}
footer .footer-item img {
  width: 100px;
}
footer .icon .fab {
  color: #ffffff;
  font-size: 35px;
}
footer .footer-item h2 {
  color: #bcd0ee;
  font-family: "Yusei Magic", sans-serif;
}
footer .footer-item a, footer .footer-item p {
  color: #bcd0ee;
  font-family: "Mulish", sans-serif;
}

button {
  margin: 30px;
  background-color: #233460;
  border-radius: 5px;
  color: white;
  padding: 8px;
  border: none;
  font-family: "Mulish", sans-serif;
}
button:hover {
  background-color: #c9d2d1;
  color: #233460;
  font-weight: bold;
}

@media only screen and (max-width: 426px) {
  .navbar {
    padding: 0px;
    height: 50px;
  }
  .navbar .container {
    padding: 0px;
  }
  .navbar .container .navbar-brand {
    font-size: 10px;
  }
  .navbar .container .navbar-toggler {
    margin: 0px;
    padding: 0px;
  }
  .navbar .container .collapse .navbar-nav {
    margin: 0px;
    padding: 0px;
    background-color: #010a41;
    width: 100%;
  }

  .carousel {
    margin: 0px;
  }
  .carousel .carousel-item img {
    width: 100% !important;
    height: 400px;
  }

  main {
    padding: 0px;
  }

  .search .search {
    flex-direction: column;
  }

  .box1 {
    background-size: 100%;
    background-position: center;
  }

  .steps-cont {
    margin: 0px;
  }
  .steps-cont .steps {
    flex-direction: column;
  }
  .steps-cont .steps-text {
    padding: 0px;
    margin: 0px;
  }
  .steps-cont .steps-text img {
    width: 280px;
    height: 280px;
  }

  .icons {
    justify-content: center;
  }
  .icons .iconos {
    flex-wrap: wrap;
  }

  .final {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .final .container .stop-one .final-imagenes {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-item {
    flex-direction: column;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .navbar {
    padding: 0px;
    height: 50px;
  }
  .navbar .container {
    padding: 0px;
  }
  .navbar .container .navbar-brand {
    font-size: 10px;
  }
  .navbar .container .navbar-toggler {
    margin: 0px;
    padding: 0px;
  }
  .navbar .container .collapse .navbar-nav {
    margin: 0px;
    padding: 0px;
    background-color: #010a41;
    width: 100%;
  }

  .carousel {
    margin: 0px;
  }
  .carousel .carousel-item img {
    height: 500px;
    margin-top: 50px;
  }

  main {
    padding: 0px;
  }

  .search .cards {
    flex-wrap: wrap;
  }
  .search .cards .search-icon {
    margin: 0px;
    width: 300px;
  }

  .box1 {
    background-size: 500px;
    background-position: center;
  }

  .steps-cont {
    margin: 0px;
  }
  .steps-cont .steps {
    flex-wrap: wrap;
  }
  .steps-cont .steps-text img {
    width: 280px;
    height: 280px;
  }

  .icons {
    justify-content: center;
  }
  .icons .iconos {
    flex-wrap: wrap;
  }

  .final {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .final .container .stop-one .final-imagenes {
    flex-wrap: wrap;
    align-items: center;
  }

  .footer .footer-item {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 426px) {
  .services {
    height: 950px;
  }
  .services video {
    width: 100%;
  }
  .services .online {
    padding: 0px;
    margin: 0px;
  }
  .services .online .online-bg {
    margin: 0px !important;
    padding-top: 30px !important;
    padding: 0px !important;
    background-color: rgba(253, 250, 250, 0.9);
  }
  .services .online .input-search {
    align-items: center !important;
  }
  .services .online .input-search .input {
    flex-direction: column;
  }
  .services .online .input-search .input input {
    width: 230px;
    margin-bottom: 10px;
  }
  .services .online .imagenes {
    flex-direction: column;
    align-items: center;
  }

  .main-services {
    padding: 0px !important;
  }

  .buy .buy-acces .images .comprar {
    flex-direction: column;
    align-items: center;
  }
  .buy .buy-acces .images .comprar .acces img {
    width: 270px;
  }

  .history .historia .carnet {
    flex-direction: column;
  }
  .history .historia .vector img {
    width: 300px;
  }

  .adopción .content {
    flex-direction: column;
    align-items: center;
  }

  .delivery .domi-one {
    padding: 0px;
  }
  .delivery .domi-one .parrafo {
    width: 270px;
  }
  .delivery .domi-one .parrafo p {
    padding-top: 30px;
  }
  .delivery .domi-one .boton-servicios {
    width: 270px;
  }

  .donation .logos {
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
  }
}
.online .online-bg h2, .history .historia h2, .delivery .domi h2 {
  color: #010a41;
  font-size: 30px;
  font-family: "Yusei Magic", sans-serif;
}

.buy .buy-acces h2, .adopción .adopta h2, .adopción .adopta h3, .donation .donar h2, .fotos h1, .funtion h2, .donacion .donacion-uno h2, .fundas .pasos h2 {
  color: #f2f4fa;
  font-family: "Yusei Magic", sans-serif;
}

.online .online-bg p, .history .historia p, .delivery .domi p {
  color: #010a41;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.inicio .inicio-background p, .buy .buy-acces p, .adopción .adopta p, .donation .donar p, .hero .absolute p, .fotos h2, .donacion .donacion-uno p, .fundas .pasos p {
  font-size: 20px;
  color: #f2f4fa;
  font-family: "Open Sans", sans-serif;
}

.inicio, .delivery {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.fundas .donacion button {
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.fundas .donacion button:hover {
  background-color: #7979f7;
  border: 2px solid #010a41;
  color: #010a41;
}

.main-services, .main-adoptar, .main-donar {
  background-image: url(../Assets/fondation.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px 100px 0px 100px;
}

.fotos .animal-uno img, .fotos .animal-dos img {
  transform: translate(10px, 20px);
}
.fotos .animal-uno:hover, .fotos .animal-dos:hover {
  animation: zoom 2s;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.sectiondos .background .uno, .sectiondos .background .dos, .sectiondos .background .tres {
  background-size: contain;
  background-position: center;
  height: 419px;
  width: 300px;
  border-radius: 10px;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
