// Main
.main-preguntas {
  @extend %main;
}


// Header
.cr {
  background-image: url(../Assets/preguntas.gif);
  @extend %bg-section;
  
  h1 {
    font-size: 60px;
    z-index: 100;
    color: white;
    font-family: "Yusei Magic", sans-serif;
  }
}

.contenido {
  h2 {
    @extend %title-dos;
  }

  p {
    @extend %parrafo-dos;
  }
}