// Header
.services {
  background-image: url(../Assets/corgi.jpg);
  background-size: 100%;
  min-height: 92vh;
  background-repeat: no-repeat;

  h1 {
    color: $color-principal;
    font-size: 50px;
    font-family: 'Yusei Magic', sans-serif;
  }

  p {
    color: $color-principal;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
}


// Main
.main-services {
  background-image: url(../Assets/fondo-tres-services.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 100px 0px 100px;
}


// Sección de consultas
.online {
  background-image: url(../Assets/fondo.online.jpg);
  @extend %bg-section;

  .online-bg {
    background-color: rgba(234, 239, 253, 0.5);

    h2 {
      @extend %title
    }

    p {
      @extend %parrafo
    }
    
    .preguntar, .chatear, .relacionado {
      padding: 0px;
      position: relative;

      img {
        padding: 15px;
        width: 200px;
        height: 200px;
        clip-path: circle(40% at 50% 50%);
      }

      .capa {
        position: absolute;
        top: 0px;
        background-color: $color-principal;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        width: 200px;
        height: 200px;
        clip-path: circle(40% at 50% 50%);
      }

      &:hover > .capa {
        opacity: 2;
        visibility: visible;
        cursor: pointer;

        span {
          color: #f2f4fa;
          font-family: 'Yusei Magic', sans-serif;
          margin-top: 30px;
        }
      }
    }
  
    .input-search {
      input {
        width: 400px;
        height: 40px;
      }
  
      .btn-outline-success {
        color: #010a41;
        border-color: #010a41;
  
        &:hover {
          background-color: #7979f7;
          color: #010a41;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}

.history {
  background-image: url(../Assets/fondo-azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;


  .historia {
  
    h2 {
      @extend %title;
    }
  
    p {
      @extend %parrafo
    }

    .vector {
      height: 600pxpx;
      img {
        width: 500px;
      }
    }

    .buton-history {
      button {
        width: 200px;
        background-color: transparent;
        border: 1px solid $color-principal;
        border-radius: none;
        color: $color-principal;

        &:hover {
          background-color: $bg-color;
          border: 2px solid $color-principal;
          color: white;
        }
      }
    }
  }
}


// sección de adopción
.adopción {
  .adopta {
    background-color: rgba(234, 239, 253, 0.6);

    h2 {
      @extend %title;
    }
  
    p {
      @extend %parrafo
    }

    .card {
      background-color: transparent;
      padding: 5px;

      h3 {
        color: $color-principal;
        font-weight: bold;
      }

      p {
        color: $color-principal;
        font-size: 15px;
        font-weight: lighter;
      }
    }

    button {
      width: 150px;
    }
  }
}

.buy {
  background-color: rgb(65, 73, 179);
  height: 500px;
}

.delivery {
  background-color: rgb(216, 72, 15);
  height: 500px;
}