// Header
.services {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  background-color: $bg-color;

  video {
    width: 100%;
    height: auto;
  }

  .online {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;

    .online-bg {
      background-color: rgba($color: white, $alpha: 0.5);
    }
  }
}

// Sección de consultas
.online {
  .online-bg {
    h2 {
      @extend %title
    }

    p {
      @extend %parrafo
    }
    
    .preguntar, .chatear, .relacionado {
      padding: 0px;
      position: relative;

      img {
        padding: 15px;
        width: 150px;
        height: 150px;
        clip-path: circle(40% at 50% 50%);
      }

      .capa {
        position: absolute;
        top: 0px;
        background-color: $color-principal;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        width: 150px;
        height: 150px;
        clip-path: circle(40% at 50% 50%);
      }

      &:hover > .capa {
        opacity: 2;
        visibility: visible;
        cursor: pointer;

        span {
          color: #f2f4fa;
          font-family: 'Yusei Magic', sans-serif;
          margin-top: 30px;
          font-size: 15px;
        }
      }
    }
  
    .input-search {
      input {
        width: 600px;
        height: 40px;
      }
  
      .btn-outline-success {
        color: #010a41;
        border-color: #010a41;
  
        &:hover {
          background-color: #7979f7;
          color: #010a41;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}


// Main
.main-services {
  @extend %main;
}

// Compra de medicamentos
.buy {
  .buy-acces {
    h2 {
      @extend %title-dos;
    }
  
    p {
      @extend %parrafo-dos;
    }

    .images {
      .access-one, .access-two {
        img {
          width: 300px;
        }
      }
  
      .access-three {
        img {
          width: 300px;
          height: 400px;
        }
      }

      .access-four {
        img {
          width: 300px;
          height: 446px;
        }
      }

      .boton-buy {
        width: 200px;
      }

      .acces {
        img {
          transform: translate(10px, 20px);
        }
  
        &:hover {
          animation: zoom 2s;
        }
    
        @keyframes zoom {
          from {
            transform: scale(1);
          }
        
          to {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// Historia clinica y carnet
.history {
  background-image: url(../Assets/fondo-azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;


  .historia {
  
    h2 {
      @extend %title;
    }
  
    p {
      @extend %parrafo
    }

    .vector {
      height: 600pxpx;
      img {
        width: 500px;
      }
    }

    .buton-history {
      button {
        width: 200px;
        background-color: transparent;
        border: 1px solid $color-principal;
        border-radius: none;
        color: $color-principal;

        &:hover {
          background-color: $bg-color;
          border: 2px solid $color-principal;
          color: white;
        }
      }
    }
  }
}

// sección de adopción
.adopción {
  .adopta {

    h2, h3 {
      @extend %title-dos;
    }
  
    p {
      @extend %parrafo-dos;
    }

    .card {
      background-color: transparent;
      padding: 5px;
      border: 1px solid white;
    }

    button {
      width: 150px;
    }
  }
}

// Veterinario a domicilio
.delivery {
  background-image: url(../Assets/domicilio.png);
  @extend %bg-section;
  height: 600px;

  .domi {
    h2 {
      @extend %title;
    }

    p {
      @extend %parrafo;
    }

    .domi-one {
      width: 50%;
      height: 430px;

      img {
        width: 100px;
      }

      button {
        width: 450px;
        background-color: $bg-color;
        border: 2px solid $color-principal;
        color: white;

        &:hover {
          background-color: #c9d2d1;
          color: $color-principal;
          font-weight: bold;
        }
      }
    }
  }
}


// Donación
.donation {
  .donar {
    h2 {
      @extend %title-dos;
    }

    p {
      @extend %parrafo-dos;
    }

    .animalove, .tepa, .huella, .damevida, .ceroindiferencia {
      img {
        width: 150px;
        clip-path: circle(50% at 50% 50%);
        cursor: pointer;
      }
    }

    .buton-donar {
      button {
        width: 400px;
        border: 1px solid white;
        background-color: transparent;
        color: white;

        &:hover {
          background-color: white;
          color: $color-principal
        }
      }
    }
  }
}