@import'variables';

.navbar {
  background-color: $bg-color;

  .navbar-brand {
    font-size: 30px;
    font-family: 'Yusei Magic', sans-serif;

    span {
      color: #b2b3b4;
    }
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .collapse {
    .nav-link {
      color: #bcd0ee;
      text-decoration: none;
      font-family: 'Mulish', sans-serif;

      &:hover {
        background-color: rgb(121, 121, 247);
        color: #010a41;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }
}